<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>


    <div class="container mt-5">
        <div class="row">
            <h3 class="text-center mb-4"><%= title %></h3>
            <div class="col-md-12">
                <% if (typeof message != "undefined" ) { %>
                    <div class="alert alert-<%= message.class %>">
                        <%= message.text %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>