<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>


    <div class="container mt-5">
        <div class="row">
            <h3 class="text-center mb-4"><%= title %></h3>
            <div class="col-md-12">
                <% tickets.forEach(ticket => { %>
                    <div class="card bg-light" style="height: 70px;">
                        <div class="row text-center py-3">
                            <div class="col-md-4">
                                <%= ticket.id %>
                            </div>
                            <div class="col-md-2">
                                <%= ticket.saloonId %>

                            </div>
                            <div class="col-md-2">
                                <%= ticket.showTimeId %>
                            </div>
                            <div class="col-md-2">
                                <% seatList.forEach(seat => { %>
                                 
                                    <%= ticket.seatId==seat.id ? seat.seatnumber:"boş" %>
                                <% }) %>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-danger">İptal Et</button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>