<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>


    <div class="container mt-5">
        <div class="row">
            <% if (typeof message != "undefined") { %>
                <div class="alert alert-<%= message.class %>">
                    <p><%= message.text %></p>
                </div>
            <% } %>
            <div class="col-md-12 d-flex justify-content-center mt-3 ">
                <div class="card text-bg-light mb-3" style="width: 22rem;">
                    <div class="card-header text-center bg-danger"><h5 class="text-light">myChef</h5></div>
                    <div class="card-body">
                        <form method="post" action="/account/reset-password">
                            <input type="hidden" name="token" value="<%= token %>">
                            <input type="hidden" name="userid" value="<%= user.id %>">
                            <div class="mb-3">
                                <label for="password" class="form-label">Şifre:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="buttons text-center mt-5">
                                <button type="submit" class="btn btn-danger">Şifremi Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>