<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>


    <div class="container mt-5">
        <div class="row">
            <h3 class="text-center mb-4"><%= title %></h3>
            <form method="post">
                <div class="row">
                    <div class="col-md-11">
                        <div class="mb-3 row">
                            <input type="hidden" name="actorid" value="<%= actor.id %>">
                            <label for="actorname" class="col-sm-2 col-form-label">Ad-Soyad:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="actorname" name="actorname" value="<%= actor.actorname %>">
                            </div>
                        </div>
                    </div>
                <div class="text-center col-md-1">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </form>
            <h5 class="mt-5 mb-4">Aktöre ait kayıtlı film sayısı: <b><%= count %></b></h5>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <th>#id</th>
                        <th style="width: 100px;">Afiş</th>
                        <th>Film Adı</th>
                        <th style="width: 270px;"></th>
                    </thead>
                    <% movies.forEach(movie => { %>
                     
                        <tbody>
                            <td>#<%= movie.id %></td>
                            <td><img src="/static/image/<%= movie.movieimg %>" alt="" style="width: 70px;"></td>
                            <td><%= movie.moviename %></td>
                            <td>
        
                                <div class="buttons text-center d-flex justify-content-center">
                                    <a href="/admin/movie/edit/<%= movie.id %>" class="btn btn-primary me-2">Düzenle</a>
                                    <form method="post" action="/admin/category/movie/remove">
                                        <input type="hidden" name="movieid" value="<%= movie.id %>">
                                        <button type="submit" class="btn btn-danger">Kategoriden Çıkart</button>
                                    </form>
                                </div>
                            </td>
                        </tbody>
                    <% }) %>
                </table>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>